# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs and outputs
logs/
demo/ads_real.csv

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.txt
*venv*

# OS files
.DS_Store


!project_video.txt
!presentation_video.txt